:root{
    --primary: #F22738;
    --secondary: #A63247;
    --tertiary: #3E3740;
    --quaternary: #F2DDD0;
    --quinary: #F2F2F2;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
.wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: mintcream;
}

h1 {
    text-align: center;
}

.wrapper {
    padding-top: 6%;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    text-align: center;
    padding: 20px;
    padding-top: 0;
    color: hsl(206, 17%, 28%);
}

form{
    text-align: center;
    padding: 10px 0 10px 0;
}

.form_row{
    padding: 5px 0 5px 0;
}

/*https://www.w3schools.com/howto/howto_js_rangeslider.asp*/
/* Followed example of a slider on w3 schools */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background-image: linear-gradient(to right, var(--tertiary), var(--primary));
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--secondary);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: var(--secondary); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.card {
    background-image: linear-gradient(to bottom right, var(--quaternary), var(--quinary));
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 8px 0;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
}

.card-header::after {
    content: " ";
    display: block;
    width: 100%;
    background: var(--quaternary);
    height: 2px;
}

.card-body {
    min-height: 100px;
}

.card-footer {
    text-align: center;
    padding: 10px 0 10px 0;
}

.card-footer::before {
    content: " ";
    display: block;
    width: 100%;
    background: var(--quinary);
    height: 2px;
}

.card-footer::after {
    content: " ";
    display: block;
    clear: both;
}

.btn {
    border: none;
    background-color: var(--tertiary);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 6px 0, rgba(0, 0, 0, 0.2) 0 1px 1px 0;
    color: var(--primary);
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
}

button[disabled] {
    cursor: default;
    background: #c0c7cf;
}

.float-right {
    float: right;
}

#password {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 85px;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #c0c7cf;
    border-radius: 2px;
    resize: none;
    overflow: hidden;
    background-color: var(--quinary);
    color: var(--primary)
}

@media (max-width: 690px) {
    .btn {
        font-size: 1rem;
        margin: 16px 0 0 0;
        padding: 10px 15px;
    }

    #password {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .btn {
        font-size: 0.8rem;
    }
}
